*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  @apply text-generic bg-dark-800;
  font-family: theme('fontFamily.sans');
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body,
html {
  @apply overflow-hidden;
}

.swal-content {
  font-size: 16px;

  p {
    @apply mb-3;
  }

  a {
    @apply text-primary underline;
  }
}
