/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  border-radius: 5px;
  background: #888; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border-radius: 10px;
  background: #ff6e81; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border-radius: 10px;
  background: #ff6e81; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider-container{
  position: relative;
  width: 100%;
}
.slider-container .min {
  color: #555;
  font-size: 10pt;
  position: absolute;
  display: inline-block;
  left: 0px;
}
.slider-container .max {
  color: #555;
  font-size: 10pt;
  position: absolute;
  display: inline-block;
  right: 0px;
}
