.button {
  @apply  inline-flex
          items-center
          justify-center
          px-4
          rounded
          uppercase
          font-semibold;

  @apply text-primary;

  height: 40px;
  transition: all 0.2s ease-in-out;
  outline: none !important;

  &:hover {
    @apply bg-primary-500-10;
  }

  &:active {
    @apply bg-primary-500-20;
  }

  &.is-active,
  &.nuxt-link-exact-active {
    @apply text-white bg-primary;
  }

  &.is-outlined {
    @apply border border-primary;
  }

  &.is-danger {
    @apply text-danger;

    &:hover {
      @apply bg-danger-500-10;
    }

    &:active {
      @apply bg-danger-500-20;
    }
  }

  &.is-success {
    @apply text-success;

    &:hover {
      @apply bg-success-500-10;
    }

    &:active {
      @apply bg-success-500-20;
    }
  }

  &.is-sm {
    @apply px-2 text-sm;
    height: 30px;
  }

  &.is-xl {
    @apply px-6 text-xl;
    height: 50px;
  }
}

.buttons {
  @apply flex items-center flex-wrap justify-start;

  &.is-center {
    @apply justify-center;
  }

  &.is-right {
    @apply justify-end;
  }

  &.is-group {
    .button {
      &:not(:last-child) {
        @apply rounded-r-none;
      }

      &:not(:first-child) {
        @apply rounded-l-none border-l-0;
      }
    }
  }
}
