.button {
  @apply inline-flex items-center justify-center;
  @apply px-4 rounded uppercase font-semibold outline-none;
  @apply text-primary-500 border border-primary-500-30;
  height: 40px;
  transition: all 0.2s ease-in-out;

  &:hover {
    @apply bg-primary-500-10;
  }

  &:active {
    @apply bg-primary-500-20;
  }

  &.button--xs {
    @apply px-2 text-xs;
    height: 21px;
  }

  &.button--sm {
    @apply px-2 text-sm;
    height: 31px;
  }

  &.button--xl {
    @apply px-6 text-xl;
    height: 51px;
  }

  &.is-active,
  &.nuxt-link-exact-active {
    @apply text-white bg-primary-500;
  }

  &.is-danger {
    @apply text-danger;

    &:hover {
      @apply bg-danger-500-10;
    }

    &:active {
      @apply bg-danger-500-20;
    }
  }

  &.is-success {
    @apply text-success;

    &:hover {
      @apply bg-success-500-10;
    }

    &:active {
      @apply bg-success-500-20;
    }
  }
}

.buttons {
  @apply flex items-center flex-wrap justify-start;

  &.is-center {
    @apply justify-center;
  }

  &.is-right {
    @apply justify-end;
  }

  &.is-group {
    .button {
      &:not(:last-child) {
        @apply rounded-r-none;
      }

      &:not(:first-child) {
        @apply rounded-l-none border-l-0;
      }
    }
  }
}
