# NOTE:
# Torch on Mac does not support CUDA!
# To include GPU processing you will need to compile Torch.

numpy==1.16.4
pillow==6.1.0
opencv-python==4.1.0.25
rsa==4.0
torch==1.1.0
torchvision==0.2.2.post3
imageio==2.5.0